<section class="rider">
  <div class="rider-img">
    <img src="<%=@rider.img_url%>" alt="Picture of <%=@rider.name%>">
  </div>
  <div class="rider-details">
    <h2> <%=@rider.name%></h2>
    <p><%=@rider.age%> years old</p>
    <p>Boards the tram at: <%=@rider.board_at%></p>
    <p>Alights the tram at: <%=@rider.alight_at%></p>
  </div>
</section>
