<%
  @title = @result['Title']
  @year = @result['Year']
  @plot = @result['Plot']
  @poster = @result['Poster']
  @actors = @result['Actors']
  @rating = @result["imdbRating"]
  @votes = @result["imdbVotes"]
%>

<main class = 'movie'>
  <div class='poster'>
    <img src="<%=@poster%>" alt="Movie poster for <%=@title%>">
  </div>
  <aside>
    <section class='title-bar'>
      <h1 class='name'><%=@title%> <span id='year'>(<%=@year%>)</span></h1>
      <div class=rating>
        <p><span id='rating'>&#9733 <%=@rating%></span>/10</p>
      </div>
    </section>
    <section class='plot'>
      <h2><%=@plot%></h2>
    </section>

    <section class='actors'>
      <p>Actors: <%=@actors%></p>
    </section>
  </aside>
</main>



<%#   
  @title = @result['Title']
  @year = @result['Year']
  @plot = @result['Plot']
  @poster = @result['Poster']
  @actors = @result['Actors']
  @rating = @result['imdbRating']
  @votes = @result['imdbVotes'] %>

